@import url("https://fonts.googleapis.com/css2?family=Explora&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
root {
  --info: #0073e6;
  --primary: #4db848;
  --primary-focus: #4aaf44;

  --primary-500: #257437;
  --primary-500-focus: #236e34;

  --tertiary: #000000;
  --tertiary-content: #ffffff;
  --tertiary-focus: #202020;

  --bg-skin-secondary: #f7f9fb;
  --bg-skin-primary: #ffffff;
  --text-clr-tertiary: #3b4249;
  --text-clr-secondary: #030303;
  --text-clr-primary: #000000;
}

/* theme colors */
.theme-color1 {
  --primary: #ef7324;
  --primary-focus: #f57b3e;
}

.theme-color2 {
  --primary: #0eb1ea;
}

.theme-color3 {
  --primary: rgb(97, 97, 97);
}

.theme-color4 {
  --primary: rgb(96, 125, 139);
}

.theme-color5 {
  --primary: rgb(0, 150, 136);
}

.theme-color6 {
  --primary: rgb(33, 150, 243);
}

.theme-color7 {
  --primary: rgb(121, 85, 72);
}

/* theme sizes */
.theme-size-sm {
  --text-h-sm: 20px;
  --text-h-md: 27px;
  --text-h-lg: 35px;
  --text-p-xs: 12px;
  --text-p-sm: 13px;
  --text-p-md: 14px;
  --text-p-lg: 17px;
}

.theme-size-md {
  --text-h-sm: 20.8px;
  --text-h-md: 24px;
  --text-h-lg: 30px;
  --text-h-xl: 40px;
  --text-p-xs: 12px;
  --text-p-sm: 14px;
  --text-p-md: 16px;
  --text-p-lg: 18px;
}

.theme-size-lg {
  --text-h-sm: 28px;
  --text-h-md: 35px;
  --text-h-lg: 43px;
  --text-p-xs: 14px;
  --text-p-sm: 15px;
  --text-p-md: 16px;
  --text-p-lg: 20px;
}

/* theme font families */
.theme-font-family {
  --font-family: "Poppins", sans-serif;
}

.theme-font-family1 {
  /* --font-family: "Times New Roman", Times, serif;
   */
  font-family: "Manrope", sans-serif; /* best  */
  font-family: "Mulish", sans-serif;
  font-family: "Inter", sans-serif;
}

.theme-font-family2 {
  /* --font-family: Arial, Helvetica, sans-serif; */
  --font-family: "Montserrat", sans-serif;
}

.theme-font-family3 {
  /* --font-family: "Lucida Console", "Courier New", monospace; */
  --font-family: "Explora", serif;
}

/* THEME COLORS  */

/* #f7ce26 */
/* #ef7324 */
/* #0eb1ea */
