/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  /* background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
}

body {
  /* box-sizing: border-box; */
  font-family: montserrat, arial, verdana;
  background-color: #1b1717;
  color: #f5f7fa;
}

.components-header {
  margin-block: 50px;
}

.layout {
  display: grid;
  grid:
    ". . . . span0 span0 span0 span0 . . . ." auto
    ". span1 span1 span1 span1 span1 span1 span1 span1 span1 span1 ." 1fr
    ". span2 span2 span2 span2 . . span3 span3 span3 span3 ." 1fr
    ". span4 span4 span4 span4 span4 span4 span4 span4 span4 span4 ." auto
    ". span5 span5 span5 span5 . . span6 span6 span6 span6 ." 1fr
    ". span7 span7 span7 span7 span7 span7 span7 span7 span7 span7 ." auto
    ". span8 span8 span8 span8 span8 span8 span8 span8 span8 span8 ." auto
    ". span9 span9 span9 span9 span9 span9 span9 span9 span9 span9 ." auto
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;

  align-items: center;
  justify-items: center;
}

.span0 {
  /* React Components Heading */
  grid-area: span0;
}
.span1 {
  /* Pizza Menu  */
  grid-area: span1;
}
.span2 {
  /* Profile Card  */
  grid-area: span2;
}
.span3 {
  /* Date Counter  */
  grid-area: span3;
}
.span4 {
  /* Flash Cards  */
  grid-area: span4;
}
.span5 {
  /* Multi step form  */
  grid-area: span5;
}
.span6 {
  /* Tip Calculator  */
  grid-area: span6;
}
.span7 {
  /* Accordion  */
  grid-area: span7;
}
.span8 {
  /* Far Away Travel List  */
  grid-area: span8;
}
.span9 {
  grid-area: span9;
}
